<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <input type="button" value="Host game">
        <input type="button" value="Join game">
    </div>
    <div id="joingamediv">
        <input type="text" name="" id="gameID" placeholder="Game ID">
    </div>
    <div id="hostgamediv">
        
    </div>
    
</body>
</html>